.right{
    float: right;
    padding: 5px;
}

.menu {
    Float: left;
    top: 1000px;
    right: 5px;
    width: 250px;
    padding: 30px;
    border: solid 2px #555555;
    padding-right: 5px;
    transform: translate(80%, 0%)
}
.bold{
    font-weight: bold;
}